body{
    color: #fff;
    background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
    
}
.weather-app-wrapper{
    max-width: 800px;
    margin: 50px auto;
    display: block;
}
.weather-app{
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    margin-bottom: 20px;
    padding: 30px 30px;
    display: block;
    border-radius: 20px;
    font-family: 'roboto', sans-serif;

}
.current-weather{
    margin: 50px 0;
    display: flex;
    align-items: center; 
}
.search-button{
    color: black;
    background-color: #fff;
    border-color: #fff;
    margin-right: 10px;
}
.location-button{
    color: black;
    background-color: #fff;
    border-color: #fff;
    margin-right: 10px;
}
.weather-image{
	border-radius: 20px;
	text-align: center;
}
h1.city-name {
    margin-bottom: 5px;
    font-size: 36px;
    font-weight: 400;	
}
ul{
    padding: 0;
}
li {
    list-style: none;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 5px;
}
.weather-condition{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

#description{
    text-transform: capitalize;
}

a{
    text-decoration: none;
}
h3{
	text-align: center;
    font-size: 24px;
    font-weight: 300;
}
.current-temp{
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;
}
.next-forecast{
    text-align: center;
    margin-top: 20px;
}
.forecast{
    border-radius: 10px;
    margin-right: 5px;
    padding: 0;
}
#weather-emoji{
    margin-bottom: 0;
    font-size: 32px;
    line-height: 30px;
}

footer{
    text-align: center;
    font-size: 14px;
    color: #537895;
}